* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'DM-Sans', sans-serif;
    font-style: normal;
    color: #fff;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    counter-reset: card-counter
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

button {
    border: 1px solid rgba(17, 141, 168, 0);
    padding: 12px 20px;
    background-color: rgba(17, 141, 168, 1);
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
}

ul {
    list-style-type: none;
}

section {
    background: #191919;
}

/* Header */

.header {
    height: 120px;
    background: #191919;
    display: flex;
    justify-content: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-navigation {
    display: flex;
    font-size: 17px;
    line-height: 1.58824;
}

.header-menu {
    display: flex;
    gap: 40px;
}


/* Section 1 */

.hero {
    height: auto;
    width: 100%;
    padding: 40px 0;
}

.hero-wrapper {
    display: flex;
    gap: 60px;
}

.hero-image {
    border-radius: 12px;
    max-width: 650px;
    max-height: 870px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 130px;
}

.hero-title {
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
    font-weight: inherit;
}

.hero-subtitle {
    font-size: 75px;
    line-height: 1.17333;
    letter-spacing: 0.04em;
}

.subtitle-wrapper {
    display: flex;
    gap: 25px;
    margin-bottom: 90px;
}

.hero-subtitle2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
}

.hero-span {
    font-size: 15px;
    line-height: 1.6;
}

.hero-span-wrapper {
    margin-bottom: 15px;
}

.app-list {
    display: flex;
    gap: 17px;
}

/* Section 2 */

.episode-section {
    padding: 100px 0 160px;
}

.episode-section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 100px
}

.episode-title {
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    align-self: flex-start;
}

.view-all-button {
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 17px;
    line-height: 1.58824;
    align-self: center;
}

.card-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
}

.card {
    border-radius: 30px;
    width: 1300px;
    background: #000;
    display: flex;
    gap: 50px;
    padding: 40px;
}

.card-content {
    align-self: flex-end;
}

.topic-box {
    background: #191919;
    border-radius: 6px;
    width: max-content;
    padding: 0 16px;
    margin-bottom: 48px;
}

.card-topic {
    font-size: 17px;
    line-height: 1.58824;
}

.episode-number {
    color: #118da8;
    margin-bottom: 18px;
}

.card-episode {
    font-size: 17px;
    line-height: 1.58824;
}

.card-number {
    font-size: 18px;
    line-height: 1.5;
}

.card-number:after {
    counter-increment: card-counter 1;
    content: counter(card-counter);
}

.card-title {
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    margin-bottom: 28px;
}

.description {
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.card .description {
    margin-bottom: 18px;
}

.card-button {
    font-size: 18px;
    line-height: 1.5;
    border-radius: 6px;
}

/*Section 3*/

.host-section {
    padding: 100px 0;
}

.host-section-wrapper {
    display: flex;
}

.host-description-wrapper {
    align-self: center;
}

.pointer-wrapper {
    display: flex;
    flex-direction: column;
}

.pointer {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #118da8;
    margin-bottom: 20px;
}

.pointer-caption {
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
}

.host-name {
    margin-bottom: 30px;
}

.host-section .description {
    margin-bottom: 35px;
}

.host-image {
    border-radius: 12px;
}

/*Section 4*/

.subscription-section {
    padding: 100px 0;
}

.subscription-card {
    background: #000;
    height: 390px;
    border-radius: 32px;
    padding: 60px 60px 0;
    display: flex;
    justify-content: space-between;
}

.subscription-description-wrapper {
    max-width: 580px;
    display: flex;
    flex-direction: column;
}

.subscription-caption {
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
}

.subscription-title {
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    max-width: 430px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscription-input {
    border: 1px solid #303030;
    border-radius: 6px;
    width: 520px;
    height: 80px;
    background: #191919;
    padding: 25px 0 25px 20px;
    display: flex;
    align-items: center;
}

input[type="email"]::placeholder, input[type="text"]::placeholder {
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
}

.submit-button {
    border-radius: 6px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.92;
    color: rgba(255, 255, 255, 0.7);
    align-self: flex-start;
    cursor: pointer;
}

/*Section 5*/

.ratings-section {
    padding: 100px 0;
}

.feedback-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.feedback-card {
    border-radius: 32px;
    background-color: #000000;
    padding: 50px;
    max-width: 420px;
}

.feedback-stars {
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}

.feedback {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.feedback-author {
    font-size: 23px;
    line-height: 1.25217;
    color: rgba(255, 255, 255, 0.7);
}

/*Footer*/

.footer {
    background: #191919;
    padding: 100px 0;
}

.footer-wrapper {
    display: flex;
    gap: 15px;
}

.footer-logo-wrapper, .footer .app-list {
    max-width: 450px;
    width: 100%;
}

.navigation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer nav {
    max-width: 180px;
    width: 100%;
}

.logo {
    width: 224px;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    gap: 10px;
}

/*    Изменение элементов при наведении    */

.header-navigation a, .navigation-wrapper a {
    transition: 0.2s;
}

.header-navigation  a:hover, .navigation-wrapper a:hover {
    color: #118da8;
}

.app-list li {
    transition: 0.2s;
}

.app-list li:hover {
    transform: translateY(-5px);
}

button {
    transition: 0.3s;
}

button:hover {
    background-color: rgba(17, 141, 168, 0);
    border-color: rgba(17, 141, 168, 1);
}

.pointer {
    transition: 0.3s;
}

.pointer:hover {
    transform: rotate(90deg);
}

.social-links li {
    transition: 0.2s;
}

.social-links li:hover {
    transform: translateY(-5px);
}

.subscription-input {
    transition: 0.2s;
}

.subscription-input:focus {
    outline: 1px solid #454444;
}

/*    Добавление псевдоэлементов    */

.hero-image-wrapper {
    position: relative;
}

.hero-image-wrapper::before {
    content: url('./assets/images/picture-decoration.svg');
    position: absolute;
    top: -30px;
    left: -30px;
}

.hero-subtitle {
    position: relative;
}

.hero-subtitle::before {
    content: '';
    display: inline-block;
    background-image: url('./assets/images/text-underline-decoration.svg');
    position: absolute;
    width: 165px;
    height: 10px;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

.subscription-card {
    position: relative;
}

.subscription-card::before {
    content: url('./assets/images/block-decoration.svg');
    position: absolute;
    bottom: -40px;
    left: -40px;
}

























