* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'DM-Sans', sans-serif;
    font-style: normal;
    color: #fff;
}

body {
    counter-reset: card-counter
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
}

ul {
    list-style-type: none;
}

/* Header */

.header {
    height: 120px;
    background: #191919;
    display: flex;
    justify-content: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation {
    display: flex;
}

.header-menu {
    display: flex;
    gap: 40px;
}

li a {
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
}

/* Section 1 */

.hero {
    height: auto;
    width: 100%;
    background: #191919;
    padding: 40px 0;
    /*display: flex;*/
    /*justify-content: center;*/
}

.hero-wrapper {
    display: flex;
    gap: 60px;
}

.hero-image {
    border-radius: 12px;
    max-width: 650px;
    max-height: 870px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 130px;
}

.hero-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 75px;
    line-height: 1.17333;
    letter-spacing: 0.04em;
}

.subtitle-wrapper {
    display: flex;
    gap: 25px;
    margin-bottom: 90px;
}

.hero-subtitle2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
}

.hero-span {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.app-list {
    display: flex;
    gap: 17px;
}

/* Section 2 */

.episode-section {
    background: #191919;
    height: auto;
    /*display: flex;*/
    /*justify-content: center;*/
    padding: 100px 0 160px;
}

.episode-section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 100px
}

.episode-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    align-self: flex-start;
}

.view-all-button {
    border-radius: 6px;
    width: 178px;
    height: 51px;
    background: #118da8;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    align-self: center;
}

.card-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
}

.card {
    border-radius: 32px;
    width: 1300px;
    height: auto;
    background: #000;
    display: flex;
    gap: 53px;
    padding: 40px
}

.card-content {
    align-self: flex-end;
}

.topic-box {
    background: #191919;
    border-radius: 6px;
    width: max-content;
    height: 27px;
    padding: 0 16px;
    margin-bottom: 48px;
}

.card-topic {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
}

.episode-number {
    font-weight: 400;
    color: #118da8;
    margin-bottom: 18px;
}

.card-episode {
    font-size: 17px;
    line-height: 1.58824;
}

.card-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.card-number:after {
    counter-increment: card-counter 1;
    content: counter(card-counter);
}

.card-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    margin-bottom: 28px;
}

.card-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

.card-button {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    border-radius: 6px;
    width: 208px;
    height: 51px;
    background: #118da8;
}







